/* =Colors */
$c-white: #fff;
$c-heliotrope: #f43fff;
$c-gallery: #ebebeb;
$c-soya-bean: #625a51;
$c-tea: #c4bbb1;
$c-clairvoyant: #34054d;
$c-cardinal-pink: #850a6c;
$c-stratos: #06004a;
$c-blue: #3f14fe;
$c-silver: #bababa;
$c-gray: #878787;
$c-ripe-plum: #460159;
$c-purple: #4700cc;
$c-purple-pink: #870198;
$c-royal-purple: #7a3aaa;

/* =Breaks */
$break-xs: 400px;
$break-moblie: 500px;
$break-mid: 700px;
$break-x-mid: 992px;
$break-x-high: 1200px;
$break-xl-high: 1400px;
$break-xxl-high: 1600px;
$break-huge: 1800px;

/* =Grid */
$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-x-mid: 850px;
$wrapper-mid: 800px;
$wrapper-mobile: 681px;
$columns: 12;
$padding: 15px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1199px;
$large-width: 150px;

/* =Paddings, Margins */
$space-xs-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xl-large: 60px;
$space-xxl-large: 65px;
$space-huge: 70px;

/* =Buttons */
$button-small: 215px;
$button-medium: 240px;
$button-large: 375px;
