.otherCategoriesWrapper {
  width: 100%;
  height: 31%;
  @include myFlex(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include createFlex(space-between);
  margin-bottom: 1%;
  position: relative;

  p {
    font-size: pxToRem(18);
    margin-top: 17px;
  }

  .otherCategories {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    @include myFlex(inline-flex);
    @include createFlex(flex-end);

    li {
      width: 23%;
      height: 90px;
      margin: 3px;
      pointer-events: visible;
      border-radius: 2ch;
      list-style: none;

      img {
        height: 35px;
        margin: 11px 13px 0 11px;
      }

      p {
        margin: 0;
        font-size: pxToRem(9);
        text-align: center;
      }

      hr {
        width: 75%;
        background-color: $c-heliotrope;
        height: 1.5px;
        color: $c-gallery;
        border: 0px;
      }
    }
  }
}
