.wrapper-dnd {
  position: relative;

  .result {
    width: 72%;
    margin: 0 auto;
    position: absolute;
    padding-top: $space-x-large;
    padding-bottom: $space-x-small;
    top: -136px;
    right: 14%;

    p {
      font-size: pxToRem(17);
      text-align: left;
      z-index: -1;
      border: 1px dashed $c-white;
      border-radius: 2ch;
      padding: 14px;
    }

    img {
      position: absolute;
      top: 55px;
      right: -26px;
      max-width: 100%;
      height: 64px;
    }

    .hideImg {
      display: none;
    }
  }

  .answers {
    position: relative;
    margin-top: 70px;

    div {
      border: 1px solid $c-white;
    }
  }
}
