.technology1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-summary_1.webp");
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.technology2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-question_1.webp");
  background-position: left;
  height: 100vh;
  background-size: cover;
}

.moto1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-moto-1.webp");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.moto2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-moto-2.webp");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.culture1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-culture-1.webp");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.culture2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-culture-2.webp");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.programming1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-programming_1.webp");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.programming2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-programming_2.webp");
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
}

.history1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-history_1.webp");
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.history2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/small-background-history_2.webp");
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.confirmCategory {
  @include myFlex(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include createFlex(center);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;

  li {
    text-align: center;
    list-style: none;
    pointer-events: none;
    border: none !important;

    img {
      max-width: 100%;
      height: $space-xl-large;
      margin-top: 10%;
    }

    hr {
      background-color: $c-heliotrope;
      height: 1.5px;
      color: $c-gallery;
      border: 0px;
      width: 80%;
    }
  }

  label {
    margin: 33% auto;
    @include myFlex(inline-flex);
    position: relative;
    cursor: pointer;

    input {
      text-transform: uppercase;
      border: 1px solid $c-white;
      height: $space-huge;
      width: 210px;
      border-radius: 1.5ch;
      color: $c-white;
      text-align: left;
      padding-left: 15%;
      cursor: pointer;
    }

    img {
      max-width: 100%;
      height: $space-xl-large;
      position: absolute;
      top: 9%;
      right: 3%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .bar_technology {
    background-image: url("../../../../assets/chooseCategoryBar.png");
    background-size: cover;
  }

  .bar_history {
    background-image: url("../../../../assets/history-bar.png");
    background-size: cover;
  }

  .bar_culture {
    background-image: url("../../../../assets/culture-bar.png");
    background-size: cover;
  }

  .bar_moto {
    background-image: url("../../../../assets/moto-bar.png");
    background-size: cover;
  }

  .bar_programming {
    background-image: url("../../../../assets/chooseCategoryBar.png");
    background-size: cover;
  }

  .technology1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/background-summary_1.webp");
    background-position: center;
    height: 100vh;
    background-size: cover;
  }

  .technology2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-question_1.webp");
    background-position: left;
    height: 100vh;
    background-size: cover;
  }

  .moto1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-moto-1.webp");
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
  }

  .moto2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-moto-2.webp");
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
  }

  .culture1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-culture-1.webp");
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
  }

  .culture2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-culture-2.webp");
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
  }

  .programming1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-programming_1.webp");
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
  }

  .programming2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-programming_2.webp");
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
  }

  .history1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-history_1.webp");
    background-position: center;
    height: 100vh;
    background-size: cover;
  }

  .history2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../../../../assets/small-background-history_2.webp");
    background-position: center;
    height: 100vh;
    background-size: cover;
  }
}
