.homepage {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../../../assets/background-1.webp");
  background-position: right;
  height: 100vh;
  @include myFlex(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include createFlex(space-between);
  min-height: 590px;
}

span {
  margin: $space-x-small;
  font-family: "McLaren", cursive;
  font-size: pxToRem(80);
  font-weight: 900;
  color: $c-white;
  display: none;
}

.header {
  width: 100%;
  @include myFlex(inline-flex);
  @include createFlex(space-between);
  height: 8%;

  .q {
    display: none;
  }

  h1 {
    margin: 0;
    font-size: pxToRem(39);
    font-family: "McLaren", cursive;
    text-transform: uppercase;
    font-weight: 700;
    color: $c-white;
    height: $space-huge;
  }

  img {
    margin: 13px;
    max-width: 100%;
    height: 27px;
    cursor: pointer;
  }

  img:nth-of-type(3) {
    cursor: pointer;
  }

  .chosenCat {
    display: none;
  }
}

p {
  text-align: center;
  text-transform: uppercase;
  color: $c-white;
  font-size: pxToRem(20);
}

.categoryTitle {
  background-image: url("../../../../assets/chooseCategoryBar.webp");
  background-position: center;
  background-size: cover;
  padding: 3px 0;
  margin: 12px auto;
  font-size: pxToRem(18);
  width: 100%;
  height: $space-medium;
}
