@media only screen and (min-width: $break-xs) {
  .homepage {
    min-height: $wrapper-mobile;

    .categoryTitle {
      font-size: pxToRem(20);
    }

    h3 {
      font-size: pxToRem(18);
    }

    .categories {
      li {
        width: 42%;

        img {
          height: 55px;
          margin: 23% auto auto 15%;
        }

        hr {
          width: 72%;
        }

        p {
          font-size: pxToRem(14);
          margin-left: 14%;
        }
      }
    }

    .confirmCategory {
      li {
        img {
          height: $space-huge;
        }
      }

      label {
        input {
          height: 79px;
          width: 230px;
          font-size: pxToRem(16);
        }

        img {
          height: $space-huge;
          top: 9%;
          right: 5%;
        }
      }
    }

    .main-content {
      .question-wrapper {
        height: 26%;
        -ms-flex-pack: distribute;
        @include createFlex(space-around);

        h2 {
          margin-left: 15%;
          font-size: pxToRem(18);
        }

        img {
          height: 75px;
          top: 0px;
          right: 52px;
        }

        .numberQuestion {
          top: 3px;
          right: 72px;
          font-size: pxToRem(20);
        }

        .question {
          font-size: pxToRem(18);
          margin: 5% 14%;
        }
      }

      .wrapper-dnd {
        .result {
          top: -143px;
          right: 14%;

          p {
            padding: 17px;
          }
        }
      }

      .answers {
        div {
          p {
            font-size: pxToRem(18);
            padding: 14px $space-x-small;
            margin: 4px;
          }

          img {
            height: $space-x-large;
            top: 16%;
            right: -18.5%;
          }
        }
      }

      .summarison {
        .summary {
          height: 65%;

          li {
            img {
              height: $space-xl-large;
              margin-top: 5%;
            }

            p {
              font-size: pxToRem(18);
              top: $space-x-small;
              right: $space-small;
            }
          }

          img {
            height: 150px;
          }

          .score-description {
            width: auto;
            font-size: pxToRem(17);
            top: $space-standard;
            right: 23px;
          }

          .tryAgain {
            position: relative;

            input {
              height: $space-huge;
              width: $button-small;
            }

            img {
              position: absolute;
              top: $space-standard;
              right: 7px;
              height: 55px;
            }
          }
        }

        .otherCategoriesWrapper {
          height: 34%;
          @include createFlex(flex-end);

          p {
            font-size: pxToRem(20);
            margin-top: $space-large;
          }

          .otherCategories {
            height: 37%;
            min-height: 105px;

            li {
              width: 24%;
              margin: 1px;
              min-height: 95px;
              height: 100%;

              img {
                height: 35px;
                margin: 22% 0 0 13%;
              }
              p {
                margin: 0;
                font-size: pxToRem(11);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-moblie) {
  .homepage {
    min-height: $wrapper-mid;

    .header {
      h1 {
        font-size: pxToRem(48);
      }
    }

    .categoryTitle {
      font-size: pxToRem(22);
    }

    h3 {
      font-size: pxToRem(20);
    }

    .categories {
      width: 70%;

      li {
        margin: 2%;
        max-height: 170px;

        img {
          height: 56px;
          margin: 24% auto auto 14%;
        }

        p {
          font-size: pxToRem(14);
        }
      }
    }

    .confirmCategory {
      height: 90%;
      margin-top: 0;

      li {
        margin-top: 10%;

        hr {
          width: 80%;
          margin: $space-standard auto;
        }

        p {
          font-size: pxToRem(20);
        }
      }

      label {
        input {
          height: $space-huge;
          width: $button-medium;
          font-size: pxToRem(17);
        }

        img {
          height: $space-xl-large;
        }
      }
    }

    .main-content {
      .question-wrapper {
        height: 30%;

        h2 {
          margin-left: 20%;
          font-size: pxToRem(20);
        }

        img {
          height: 92px;
          top: -2%;
          right: 15%;
        }

        .numberQuestion {
          top: -1%;
          right: 19%;
          font-size: 22px;

          span {
            font-size: pxToRem(22);
          }
        }

        .question {
          font-size: pxToRem(20);
          margin: 5% 20%;
        }
      }

      .answers {
        div {
          width: 61%;
          margin-top: 12px;

          p {
            font-size: pxToRem(18);
            padding: 19px $space-small;
          }

          img {
            width: 51px;
            right: -70px;
          }
        }
      }

      .summarison {
        .summary {
          li {
            img {
              margin-top: $space-standard;
              height: $space-huge;
            }

            p {
              font-size: pxToRem(18);
              top: unset;
              right: unset;
              position: unset;
              margin: 0 auto;
              width: unset;
            }
          }

          img {
            height: 185px;
          }

          .score-description {
            font-size: pxToRem(23);
            top: 38px;
            right: 23px;

            span {
              font-size: pxToRem(23);
            }
          }

          .tryAgain {
            input {
              height: $space-huge;
              width: 250px;
              font-size: pxToRem(16);
            }

            img {
              top: 17px;
              height: 62px;
            }
          }
        }

        .otherCategoriesWrapper {
          p {
            font-size: pxToRem(22);
            margin-top: $space-xxl-large;
          }

          .otherCategories {
            @include createFlex(center);
            min-height: 130px;
            height: 43%;

            li {
              width: 23%;
              min-height: 104px;
              margin: $space-xs-small;
              height: 95%;

              img {
                height: $space-large;
                margin: $space-medium 35% 0 30%;
              }
              p {
                font-size: pxToRem(12);
              }
            }
          }
        }
      }
      .wrapper-dnd {
        .result {
          top: -150px;
          right: 19%;
          width: 62%;

          p {
            padding: 24px;
          }
        }

        .answers {
          margin-top: $space-xl-large;
        }
      }
    }
  }
}

@media only screen and (min-width: $break-mid) {
  .homepage {
    min-height: $wrapper-x-mid;

    .header {
      img {
        height: 36px;
      }

      h1 {
        font-size: pxToRem(50);
      }
    }

    .categoryTitle {
      font-size: pxToRem(24);
    }

    h3 {
      font-size: pxToRem(22);
    }

    .categories {
      width: 65%;
      margin: 0 auto;
      max-width: 500px;

      li {
        max-width: 210px;
        max-height: 184px;

        img {
          margin: 22% auto auto 14%;
        }
      }
    }

    .confirmCategory {
      li {
        img {
          height: 80px;
        }

        p {
          font-size: pxToRem(21);
        }
      }

      label {
        margin: 20% auto;

        input {
          height: $space-xxl-large;
        }

        img {
          top: 6%;
        }
      }
    }

    .main-content {
      .question-wrapper {
        h2 {
          font-size: pxToRem(22);
          margin-left: 19%;
        }

        img {
          height: 103px;
          right: 13%;
          top: -6%;
        }

        .numberQuestion {
          right: 16.4%;
          font-size: pxToRem(26);
          top: -4%;

          span {
            font-size: 26px;
          }
        }

        .question {
          font-size: pxToRem(22);
          margin: 4% 21%;
        }
      }

      .wrapper-dnd {
        .result {
          height: $space-xxl-large;
          width: 61%;

          p {
            font-size: pxToRem(19);
            line-height: $space-standard;
          }
        }
      }

      .answers {
        div {
          p {
            font-size: pxToRem(20);
            padding: 17px 16px;
          }

          img {
            width: 55px;
          }
        }
      }

      .summarison {
        li {
          img {
            margin-top: 25px;
            height: 100px;
          }

          p {
            font-size: pxToRem(23);
          }
        }

        .summary {
          min-height: 430px;

          img {
            right: 17%;
            height: 180px;
          }

          p {
            font-size: pxToRem(23);
            top: 37px;
            right: 81px;

            span {
              font-size: $space-medium;
            }
          }

          .score-description {
            font-size: pxToRem(21);
            top: 34px;
            right: 26px;

            span {
              font-size: pxToRem(21);
            }
          }

          .tryAgain {
            input {
              height: 75px;
              width: 260px;
              font-size: pxToRem(17);
            }

            img {
              height: 72px;
            }
          }
        }

        .otherCategoriesWrapper {
          height: 45%;
          @include createFlex(flex-end);
          margin: 0;

          p {
            font-size: pxToRem(20);
            margin-top: 5%;
          }

          .otherCategories {
            margin-bottom: $space-x-small;
            height: 49%;

            li {
              width: 22%;
              max-width: 170px;
              height: 92%;
              max-height: 170px;

              img {
                height: 45px;
                margin: 30% 37% 0 34%;
              }

              hr {
                width: 70%;
                height: 2px;
              }

              p {
                font-size: pxToRem(16);
                text-align: center;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-x-mid) {
  .homepage {
    background-position: center;
    background-size: 100% 100%;
    min-height: 730px;

    .header {
      position: relative;
      margin-top: 5%;
      display: block;

      .q {
        position: absolute;
        display: block;
        height: $space-x-large;
        width: $space-x-large;
        top: -87%;
        left: 0%;
      }

      img {
        height: $space-standard;
      }

      img:nth-of-type(2) {
        position: absolute;
        right: 160px;
        top: $space-x-small;
      }

      img:nth-of-type(3) {
        position: absolute;
        right: 130px;
        top: $space-x-small;
      }

      h1 {
        font-size: pxToRem(40);
        width: 100%;
        text-align: center;
      }

      .chosenCat {
        text-align: center;
        padding: $space-xs-small 0;
        font-size: pxToRem(22);
        width: 42%;
        margin: 2% auto;
        display: block;
      }
    }

    .categoryTitle {
      font-size: pxToRem(22);
      width: 40%;
      margin: 3% auto;
      margin-top: 6%;
    }

    .categories {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-top: 5%;
      width: 80%;
      max-width: unset;

      li {
        margin: 1%;
        max-height: 145px;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        height: 36%;

        p {
          margin-left: 14%;
          font-size: pxToRem(14);
        }

        img {
          width: $space-x-large;
          margin: 16% auto auto 14%;
        }
      }

      li:hover {
        background-position: right;
      }
    }

    .confirmCategory {
      height: 80%;

      li {
        margin-top: $space-medium;

        img {
          height: $space-xl-large;
          margin: 13%;
        }

        hr {
          width: 100%;
        }

        p {
          font-size: pxToRem(17);
        }
      }

      label {
        margin: 8% auto;

        input {
          height: 69px;
          font-size: pxToRem(15);
          border: 1px solid $c-white;
          -webkit-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s;
        }

        img {
          height: $space-xxl-large;
          top: 4%;
        }
      }
    }

    .main-content {
      .question-wrapper {
        height: 30%;
        margin-top: 5%;

        h2 {
          font-size: pxToRem(20);
          text-align: center;
          margin: 0 auto;
          padding: 3px 0;
          width: 50%;
          height: auto;
        }

        img {
          height: 68px;
          right: 20%;
          top: 13%;
        }

        .numberQuestion {
          right: 21.5%;
          font-size: pxToRem(20);
          top: 13%;

          span {
            font-size: pxToRem(20);
          }
        }

        .question {
          font-size: pxToRem(19);
          margin: 0 100px;
          text-align: center;
        }
      }

      .wrapper-dnd {
        position: relative;
        margin-top: 45px;

        .result {
          width: 26.5%;
          top: -150px;
          position: absolute;
          padding: $space-huge $space-large 80px $space-large;
          right: 33%;
          height: 0;

          img {
            right: $space-small;
          }

          p {
            font-size: pxToRem(16);
            line-height: 14px;
            margin: 0;
            padding: 24px 21px;
          }
        }

        div {
          .answers {
            margin: 0;
          }
        }
      }

      .answers {
        @include myFlex(inline-flex);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        @include createFlex(center);
        margin: 45px auto;

        div {
          width: 26.5%;
          margin: 0 $space-x-small;
          cursor: pointer;
          margin-bottom: $space-standard;

          p {
            font-size: pxToRem(17);
            padding: 16px;
            padding-right: 53px;
          }

          img {
            width: 52px;
            top: 12%;
            right: 1%;
          }
        }
      }

      .summarison {
        @include myFlex(flex);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        @include createFlex(flex-end);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 80%;
        position: relative;

        .summary {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          @include createFlex(flex-start);
          height: 95%;
          margin-right: 4%;

          li {
            img {
              margin-top: $space-small;
              height: $space-xl-large;
            }

            hr {
              width: 30%;
              margin: $space-x-small auto;
            }

            p {
              font-size: pxToRem(20);
              margin: 0 auto;
              position: unset;
              top: unset;
              right: unset;
              width: unset;
            }
          }

          .score-wrapper {
            img {
              position: sticky;
            }
          }

          img {
            height: 110px;
            margin-top: $space-standard;
            top: 27%;
            z-index: 1;
          }

          .score-description {
            font-size: pxToRem(18);
            top: 42px;
            right: 85px;
            width: 317px;
            padding: 6px 0;

            span {
              font-size: pxToRem(18);
              display: inline;
              margin-left: $space-x-large;
              position: absolute;
              top: -11px;
              right: -62px;
              z-index: 1;
            }
          }

          .tryAgain {
            margin-top: 80px;
            cursor: pointer;

            input {
              height: 62px;
              width: 220px;
              font-size: pxToRem(15);
              margin: 0;
              cursor: pointer;
            }

            input:hover {
              -webkit-transition: all ease 0.5s;
              -o-transition: all ease 0.5s;
              transition: all ease 0.5s;
            }

            img {
              top: -15px;
              height: 55px;
              right: $space-xs-small;
            }
          }
        }

        .otherCategoriesWrapper {
          @include myFlex(flex);
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -ms-flex-line-pack: center;
          align-content: center;
          @include createFlex(flex-start);
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 91%;
          width: 36%;
          margin-top: -3%;

          p {
            font-size: pxToRem(20);
            margin-top: 0;
            margin-right: 19%;
          }

          .otherCategories {
            margin: 0;
            padding: 0;
            width: 30%;
            @include myFlex(flex);
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            @include createFlex(flex-start);
            height: 92%;

            li {
              width: 110%;
              height: 23%;
              cursor: pointer;
              margin-right: 33%;
              max-height: 120px;

              img {
                height: 35px;
                margin: 23% 44px 0 33px;
              }

              hr {
                width: 75%;
              }

              p {
                font-size: pxToRem(12);
                text-align: center;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-x-high) {
  .homepage {
    min-height: 789px;

    .header {
      img:nth-of-type(2) {
        right: 15%;
      }

      img:nth-of-type(3) {
        right: 13%;
      }

      h1 {
        font-size: pxToRem(46);
      }
    }

    .categoryTitle {
      margin: 3% auto;
    }

    h3 {
      font-size: pxToRem(20);
      display: block;
    }

    .categories {
      width: 75%;

      li {
        max-height: 160px;
        height: 38%;

        p {
          margin-left: 10%;
          font-size: pxToRem(16);
        }

        hr {
          width: 79%;
        }

        img {
          margin: 18% auto auto 11%;
        }
      }
    }

    .confirmCategory {
      li {
        img {
          height: 80px;
          margin: 11%;
        }

        p {
          font-size: pxToRem(20);
        }
      }

      label {
        margin: 5% auto;

        input {
          height: 80px;
          width: 260px;
          font-size: pxToRem(16);
        }

        img {
          height: 73px;
          top: 6%;
        }
      }
    }

    .main-content {
      .question-wrapper {
        h2 {
          padding: $space-x-small 0;
        }

        img {
          height: 100px;
          right: 19%;
          top: 8%;
        }

        .numberQuestion {
          font-size: pxToRem(24);
          top: 10%;
          right: 21%;

          span {
            font-size: pxToRem(24);
          }
        }

        .question {
          padding: 0 100px;
        }
      }

      .wrapper-dnd {
        margin-top: $space-x-large;

        .result {
          right: 33.5%;

          div {
            .answers {
              width: 100%;
            }
          }
        }
      }

      .answers {
        margin: $space-x-large auto;
      }

      .summarison {
        .summary {
          margin-top: 5%;

          li {
            img {
              height: $space-huge;
            }

            hr {
              margin-top: 4%;
              width: 50%;
            }

            p {
              right: 41%;
            }
          }

          img {
            height: 135px;
            top: 24%;
            right: 23%;
          }

          .score-description {
            font-size: pxToRem(22);
            padding: $space-x-small 0;
            padding: $space-x-small 0;
            width: 272%;
            top: 44px;
            right: 102px;

            span {
              font-size: pxToRem(22);
              right: -70px;
              top: -8px;
            }
          }

          .tryAgain {
            input {
              height: 80px;
              width: 260px;
              font-size: pxToRem(16);
            }

            img {
              top: -12px;
              height: $space-xxl-large;
              right: 8px;
            }
          }
        }

        .otherCategoriesWrapper {
          p {
            margin-right: 9%;
          }

          .otherCategories {
            margin-right: 17px;

            li {
              height: 22%;
              min-height: 135px;

              img {
                height: 45px;
                margin: 22% 0 0 9%;
              }

              hr {
                width: 80%;
                height: 1px;
              }

              p {
                font-size: pxToRem(14);
                margin-left: 10%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-xl-high) {
  .homepage {
    min-height: 851px;

    h3 {
      font-size: pxToRem(20);
    }

    .header {
      h1 {
        font-size: pxToRem(42);
      }
    }

    .categoryTitle {
      width: 42%;
    }

    .categories {
      width: 100%;
      padding: 0;
      @include createFlex(center);

      li {
        min-height: 190px;
        height: 37%;
        max-width: 220px;

        p {
          font-size: pxToRem(17);
        }

        img {
          width: $space-xl-large;
          margin: 24% auto auto 11%;
        }
      }
    }

    .confirmCategory {
      li {
        img {
          height: 100px;
          margin: 13%;
          margin-right: $space-medium;
        }

        hr {
          width: 70%;
        }

        p {
          font-size: pxToRem(18);
        }
      }

      label {
        margin: 5% auto;

        input {
          height: 80px;
          width: 300px;
          font-size: pxToRem(16);
        }

        img {
          height: 73px;
          top: 6%;
        }
      }
    }

    .main-content {
      .question-wrapper {
        h2 {
          margin: 9px auto;
          padding: $space-x-small 0;
        }

        img {
          height: 120px;
          right: 19.5%;
          top: 7%;
        }

        .numberQuestion {
          font-size: pxToRem(28);
          top: 12%;
          right: 22.2%;

          span {
            font-size: pxToRem(24);
          }
        }

        .question {
          font-size: pxToRem(22);
          padding: 0 12%;
        }
      }

      .answers {
        width: 100%;

        div {
          width: 25%;

          p {
            font-size: pxToRem(18);
            padding-right: 54px;
          }
        }
      }

      .summarison {
        height: 77%;

        .summary {
          margin-right: 4.7%;
          margin-top: 3%;

          .score-wrapper {
            position: relative;
            min-height: 120px;

            img {
              top: -40%;
              right: -6%;
              z-index: 1;
            }

            .score-description {
              padding: $space-x-small 0;
              right: 98px;
              width: 300%;
              top: 28%;
            }
          }

          li {
            min-height: 225px;

            img {
              height: 80px;
            }

            hr {
              margin: 0 auto;
              margin-top: 18px;
            }

            p {
              font-size: pxToRem(20);
              display: block;
              margin: 0 auto;
              padding-top: 28px;
            }
          }

          img {
            height: 160px;
            z-index: 1;
          }

          .score-description {
            top: -13px;

            span {
              font-size: pxToRem(31);
              right: -59px;
              top: -8px;
              z-index: 1;
            }
          }

          .tryAgain {
            margin-top: $space-x-large;

            input {
              height: 80px;
              width: 280px;
              font-size: pxToRem(16);
            }

            img {
              top: -12px;
              height: $space-huge;
              right: 8px;
            }
          }
        }

        .otherCategoriesWrapper {
          p {
            font-size: pxToRem(21);
            margin-right: 11%;
          }

          .otherCategories {
            li {
              height: 22%;
              min-height: 130px;

              img {
                height: $space-large;
                margin: 20% 0 0 11%;
              }

              hr {
                width: 70%;
                height: 1px;
                margin-left: 11%;
              }

              p {
                font-size: pxToRem(16);
                text-align: left;
                margin-left: 11%;
              }
            }
          }
        }
      }
      .wrapper-dnd {
        .result {
          width: 25%;
          right: 34.7%;
        }
      }
    }
  }
}

@media only screen and (min-width: $break-xxl-high) {
  .homepage {
    min-height: 855px;

    .header {
      .q {
        left: 1%;
      }

      h1 {
        font-size: pxToRem(55);
      }
    }

    .categoryTitle {
      font-size: pxToRem(24);
      margin: 4% auto;
    }

    .categories {
      margin: 2% auto;

      li {
        min-height: 210px;
        min-width: 225px;

        img {
          height: 90px;
          margin: 15% auto auto 11%;
        }
      }
    }

    .confirmCategory {
      li {
        img {
          height: 85px;
        }

        p {
          font-size: pxToRem(22);
        }
      }

      label {
        input {
          font-size: pxToRem(18);
        }
      }
    }

    .main-content {
      .question-wrapper {
        h2 {
          font-size: pxToRem(24);
          width: 42%;
          padding: 3px;
        }

        img {
          right: 19.7%;
          top: 6%;
        }

        .numberQuestion {
          font-size: pxToRem(28);
          top: 11%;
          right: 21.9%;
        }

        .question {
          font-size: pxToRem(21);
        }
      }

      .wrapper-dnd {
        .result {
          width: 24%;
          height: 55px;
          right: 35.8%;
          padding: $space-huge $space-large $space-standard $space-large;
        }
      }

      .answers {
        @include myFlex(flex);

        div {
          width: 24%;

          p {
            padding-right: 63px;
          }
        }
      }

      .summarison {
        height: 80%;

        .summary {
          margin-right: 5.8%;
          margin-top: 0;
          height: 90%;

          li {
            img {
              height: 85px;
            }

            hr {
              margin-top: 10%;
              width: 50%;
            }

            p {
              font-size: pxToRem(21);
              right: 43%;
            }
          }

          img {
            margin-top: 29px;
            height: 160px;
          }

          .score-wrapper {
            .score-description {
              font-size: pxToRem(23);
              right: 90px;
              top: 31%;

              span {
                font-size: pxToRem(31);
                right: -51px;
                top: -10px;
              }
            }
          }

          .tryAgain {
            input {
              font-size: pxToRem(17);
            }

            img {
              top: -20px;
              height: 66px;
            }
          }
        }

        .otherCategoriesWrapper {
          height: 84%;

          p {
            font-size: pxToRem(20);
            margin-right: 5%;
          }

          .otherCategories {
            width: 26%;
            height: 93%;
            margin-right: -2px;

            li {
              height: 25%;

              img {
                height: $space-x-large;
                margin: 17% 0 0 11%;
              }

              hr {
                width: 80%;
              }

              p {
                font-size: pxToRem(16);
                margin-left: 10%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $break-huge) {
  .homepage {
    min-height: 900px;

    .header {
      img:nth-of-type(2) {
        right: 16.2%;
      }

      img:nth-of-type(3) {
        right: 14.8%;
      }
    }
    .categories {
      li {
        min-height: $button-small;
        min-width: 231px;

        img {
          margin: 18% auto auto 11%;
        }
      }
    }

    .main-content {
      .question-wrapper {
        img {
          top: 7.5%;
        }
        .numberQuestion {
          right: 21.3%;
        }
      }

      .wrapper-dnd {
        .result {
          right: 40.8%;
          width: 15%;
        }
      }

      .summarison {
        .summary {
          margin-right: 7.8%;

          .tryAgain {
            margin-top: 85px;
          }
        }

        .otherCategoriesWrapper {
          .otherCategories {
            li {
              min-height: 150px;

              img {
                margin: 23% 0 0 11%;
              }
            }
          }
        }
      }

      .answers {
        div {
          width: 15%;
        }
      }
    }
  }
}
