.main-content {
  position: relative;
  width: 100%;
  height: 100%;

  .question-wrapper {
    position: relative;
    margin-top: 13px;
    height: 24%;
    @include myFlex(flex);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    @include createFlex(space-around);

    h2 {
      color: $c-white;
      margin: 0 30% 0% 11%;
      font-weight: 400;
      font-size: pxToRem(18);
      text-transform: uppercase;
      height: 33%;
    }

    img.number {
      position: absolute;
      max-width: 100%;
      height: 64px;
      top: -10px;
      right: 22px;
    }

    p.numberQuestion {
      position: absolute;
      top: -10px;
      right: 37px;
      font-size: pxToRem(18);

      span {
        display: inline;
        font-size: pxToRem(18);
        color: $c-heliotrope;
        margin: 0;
        font-weight: normal;
      }
    }
    .question {
      text-transform: none;
      text-align: left;
      font-size: pxToRem(17);
      margin: 13px 5% 0 8%;
    }
  }
}

.answers {
  @include myFlex(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55%;
  position: relative;
  margin-top: $space-standard;

  div {
    width: 72%;
    color: $c-white;
    font-size: pxToRem(17);
    position: relative;
    margin-top: 8px;
    border-radius: 2ch;

    img {
      max-width: 100%;
      height: 46px;
      position: absolute;
      top: 6%;
      right: -20%;
      display: none;
    }

    .choice {
      font-size: pxToRem(17);
      text-align: left;
      padding: 15px 8px;
      margin: 0;
      text-transform: none;
    }

    .showImg {
      display: block;
    }
  }
}

.correctAnswer {
  background-image: url("../../../../assets/selectedAnswer.png");
  background-size: 150% 150%;
  background-position: center;
  border-radius: 2ch;
  transition: all ease-in-out 0.2s;
}

.button_moto {
  background: linear-gradient(69deg, $c-stratos 50%, $c-blue 100%);
  background-size: 200% 200%;
  background-position: left;
  border: 1px solid $c-white;
  border-radius: 2ch;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-position: right;
  }
}

.button_history {
  background: linear-gradient(69deg, $c-soya-bean 50%, $c-tea 100%);
  background-size: 200% 200%;
  background-position: left;
  border: 1px solid $c-white;
  border-radius: 2ch;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-position: right;
  }
}

.button_culture {
  background: linear-gradient(69deg, $c-silver 50%, $c-gray 100%);
  background-size: 200% 200%;
  background-position: left;
  border: 1px solid $c-white;
  border-radius: 2ch;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-position: right;
  }
}

.button_programming {
  background: linear-gradient(69deg, $c-ripe-plum 50%, $c-purple 100%);
  background-size: 200% 200%;
  background-position: left;
  border: 1px solid $c-white;
  border-radius: 2ch;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-position: right;
  }
}

.button_technology {
  background: linear-gradient(69deg, $c-ripe-plum 40%, $c-purple-pink 95%);
  background-size: 200% 200%;
  background-position: left;
  border: 1px solid $c-white;
  border-radius: 2ch;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-position: right;
  }
}

.unclickable {
  pointer-events: none;
}

.borderless {
  border: none;
}
