.summarison {
  @include myFlex(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include createFlex(space-between);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 92%;
  position: relative;

  .summary {
    position: relative;
    @include myFlex(flex);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    @include createFlex(space-between);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60%;

    li {
      pointer-events: none;
      width: 100%;
      height: 30%;
      text-align: center;
      list-style: none;
      padding-top: $space-small;
      position: relative;
      border: none !important;

      img {
        height: $space-x-large;
        position: static;
      }

      p {
        position: unset;
        margin: 0 auto;
        width: unset;
        font-size: pxToRem(16);
      }

      hr {
        width: 30%;
        background-color: $c-heliotrope;
        height: 1.5px;
        color: $c-gallery;
        border: 0px;
        width: 30%;
      }
    }

    .score-wrapper {
      position: relative;

      p {
        top: $space-x-small;
        right: $space-small;
      }
    }

    img {
      height: 120px;
    }

    p {
      position: absolute;
      top: 39.5%;
      right: 61px;
      font-size: pxToRem(15);
      width: 91px;

      span {
        display: block;
        font-size: pxToRem(19);
        font-weight: normal;
      }
    }

    label {
      @include myFlex(inline-flex);
      position: relative;

      input {
        text-transform: uppercase;
        height: $space-huge;
        width: 210px;
        border-radius: 2ch;
        color: $c-white;
        text-align: left;
        padding-left: 12%;
        font-size: pxToRem(14);
        margin-top: 5%;
      }

      img {
        max-width: 100%;
        height: $space-xl-large;
        position: absolute;
        top: 20%;
        right: 3%;
      }
    }
  }
}
